<div style="position: relative">
  <div *ngIf="connectionError$ | async" class="connection-error">
    <mat-icon style="margin-right: 5px">cloud_off</mat-icon>
    <span>{{ 'misc.connection-error' | translate }}</span>
  </div>
</div>

<div *ngIf="room$ | async as room" class="wrapper">
  <div class="header">
    <span>{{ room.roomName.trim() || '...' }}</span>
  </div>

  <span *ngIf="room.satellites.length === 0">{{ 'room.no-satellites' | translate }}</span>

  <mat-accordion *ngIf="room.satellites.length > 0" class="satellites-wrapper" multi>
    <mat-expansion-panel *ngFor="let satelles of room.satellites; trackBy: trackSatelles">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ satelles.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <span *ngIf="satelles.commands.length === 0">{{ 'room.satelles.no-commands' | translate }}</span>
        <app-command *ngFor="let command of satelles.commands; trackBy: trackCommand"
                     [command]="command"
                     (action)="imperiumAction(satelles.id, command.name, $event)">
        </app-command>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
