@use '@angular/material' as mat;

@mixin sidenav-content-component-theme($theme) {
  //$primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  //$warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-sidenav-content {
    color: mat.m2-get-color-from-palette($foreground, text);
    background-color: mat.m2-get-color-from-palette($background, app-bar);
  }

  .mat-mdc-list-item.selectable {
    background-color: mat.m2-get-color-from-palette($accent, 0.04);

    &.selected {
      background-color: mat.m2-get-color-from-palette($accent, 0.1);
    }

    &:hover {
      background-color: mat.m2-get-color-from-palette($accent, 0.2);
    }
  }
}
