<mat-sidenav-container class="sidenav-container">

  @let pinSideNav = navService.pinSideNav$ | async;

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               position="end"
               [attr.role]="pinSideNav ? 'navigation' : 'dialog'"
               [mode]="pinSideNav ? 'side' : 'over'"
               [opened]="pinSideNav === true"
               (click)="closeDrawer()">

    <mat-toolbar>{{ 'nav.menu-title' | translate }}</mat-toolbar>
    <mat-nav-list>

      @if (navService.navTools$ | async; as navTools) {
        @if (navTools.length > 0) {
          <h3 matSubheader>{{ 'nav.tools' | translate }}</h3>
          @for (tool of navTools; track tool.name) {
            <mat-list-item (click)="navService.navToolClicked(tool.name); closeDrawer()">
              <mat-icon style="margin-right: 5px">{{ tool.icon }}</mat-icon>
              <span>{{ tool.name | translate }}</span>
            </mat-list-item>
          }
        }
      }

      <h3 matSubheader>{{ 'nav.settings' | translate }}</h3>

      <mat-list-item>
        <mat-slide-toggle color="accent" [checked]="settingsService.darkMode$ | async"
                          (change)="navService.setDarkMode($event.checked)">
          {{ 'misc.dark-mode' | translate }}
        </mat-slide-toggle>
      </mat-list-item>

      @if ((deviceService.isHandset$ | async) === false) {
        <mat-list-item>
          <mat-slide-toggle color="accent" [checked]="pinSideNav"
                            (change)="navService.setPinSideNav($event.checked)">
            {{ 'nav.pin-sidenav' | translate }}
          </mat-slide-toggle>
        </mat-list-item>
      }

      <mat-list-item>
        <app-change-language (langSet)="navService.setLanguage($event); closeDrawer()"></app-change-language>
      </mat-list-item>

      @if (navService.displayUpdatesAvailable) {
        <mat-list-item (click)="navService.update()">
          <mat-icon color="warn" style="margin-right: 5px">update</mat-icon>
          <span>
            {{ 'nav.update-available' | translate }}
          </span>
        </mat-list-item>
      }

      @if (navService.displayUpdatesActivated) {
        <mat-list-item>
          <mat-icon style="margin-right: 5px">sync</mat-icon>
          <span>
            {{ 'nav.update-activated' | translate }}
          </span>
        </mat-list-item>
      }

      <mat-list-item (click)="navService.checkForUpdates()">
        <span class="very-light-text mat-small">
          {{ 'misc.version' | translate }} {{ appVersion }}
        </span>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Toolbar on top -->
    <mat-toolbar color="primary">

      @if (navService.showBackButton$ | async) {
        <button
          type="button"
          aria-label="Back button"
          mat-icon-button
          (click)="navService.backClicked()">
          <mat-icon aria-label="Back arrow icon">arrow_back</mat-icon>
        </button>
      }

      @if (settingsService.darkMode$ | async) {
        <img routerLink="/" [src]="'assets/icons/icon-white-64.png'" alt="icon" class="main-icon hide-focus"/>
      } @else {
        <img routerLink="/" [src]="'assets/icons/icon-black-64.png'" alt="icon" class="main-icon hide-focus"/>
      }
      <span routerLink="/" class="main-title hide-focus">
        {{ (navService.mainTitle$ | async) || 'app-name' | translate }}
      </span>

      <span class="fill-remaining-space"></span>

      @for (buttonId of navService.navButtons$ | async; track buttonId) {
        <button
          mat-icon-button
          type="button"
          [attr.aria-label]="'Button' + buttonId"
          (click)="navService.navButtonClicked(buttonId)">
          <mat-icon>{{ buttonId }}</mat-icon>
        </button>
      }

      @if (pinSideNav === false) {
        <button
          mat-icon-button
          type="button"
          aria-label="Toggle sidenav"
          (click)="drawer.toggle()">
          <mat-icon
            aria-label="Side nav toggle icon"
            aria-hidden="false"
            [matBadge]="navService.notificationBadge"
            matBadgeColor="warn">
            menu
          </mat-icon>
        </button>
      }

    </mat-toolbar>

    <!-- Main application area -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
