<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               position="end"
               [attr.role]="(navService.pinSideNav$ | async) ? 'navigation' : 'dialog'"
               [mode]="(navService.pinSideNav$ | async) ? 'side' : 'over'"
               [opened]="navService.pinSideNav$ | async"
               (click)="closeDrawer()">

    <mat-toolbar>{{ 'nav.menu-title' | translate }}</mat-toolbar>
    <mat-nav-list>

      <ng-container *ngIf="navService.navTools$ | async as navTools">
        <ng-container *ngIf="navTools.length > 0">
          <h3 matSubheader>{{ 'nav.tools' | translate }}</h3>
          <mat-list-item *ngFor="let tool of navTools" (click)="navService.navToolClicked(tool.name); closeDrawer()">
            <mat-icon style="margin-right: 5px">{{ tool.icon }}</mat-icon>
            <span>{{ tool.name | translate }}</span>
          </mat-list-item>
        </ng-container>
      </ng-container>

      <h3 matSubheader>{{ 'nav.settings' | translate }}</h3>

      <mat-list-item>
        <mat-slide-toggle color="accent" [checked]="settingsService.darkMode$ | async"
                          (change)="navService.setDarkMode($event.checked)">
          {{ 'misc.dark-mode' | translate }}
        </mat-slide-toggle>
      </mat-list-item>

      <mat-list-item *ngIf="(deviceService.isHandset$ | async) === false">
        <mat-slide-toggle color="accent" [checked]="navService.pinSideNav$ | async"
                          (change)="navService.setPinSideNav($event.checked)">
          {{ 'nav.pin-sidenav' | translate }}
        </mat-slide-toggle>
      </mat-list-item>

      <mat-list-item>
        <app-change-language (langSet)="navService.setLanguage($event); closeDrawer()"></app-change-language>
      </mat-list-item>

      <mat-list-item *ngIf="navService.displayUpdatesAvailable$ | async" (click)="navService.update()">
        <mat-icon color="warn" style="margin-right: 5px">update</mat-icon>
        <span>
          {{ 'nav.update-available' | translate }}
        </span>
      </mat-list-item>

      <mat-list-item *ngIf="navService.displayUpdatesActivated$ | async">
        <mat-icon style="margin-right: 5px">sync</mat-icon>
        <span>
          {{ 'nav.update-activated' | translate }}
        </span>
      </mat-list-item>

      <mat-list-item (click)="navService.checkForUpdates()">
        <span class="very-light-text mat-small">
          {{ 'misc.version' | translate }} {{ appVersion }}
        </span>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Toolbar on top -->
    <mat-toolbar color="primary">

      <button
        type="button"
        aria-label="Back button"
        mat-icon-button
        *ngIf="navService.showBackButton$ | async"
        (click)="navService.backClicked()">
        <mat-icon aria-label="Back arrow icon">arrow_back</mat-icon>
      </button>

      <img routerLink="/" [src]="'assets/icons/icon-white-64.png'" alt="icon" class="main-icon hide-focus"/>
      <span routerLink="/" class="main-title hide-focus">
        {{ (navService.mainTitle$ | async) || 'app-name' | translate }}
      </span>

      <span class="fill-remaining-space"></span>

      <button
        *ngFor="let buttonId of navService.navButtons$ | async"
        mat-icon-button
        type="button"
        [attr.aria-label]="'Button' + buttonId"
        (click)="navService.navButtonClicked(buttonId)">
        <mat-icon>{{ buttonId }}</mat-icon>
      </button>

      <button
        *ngIf="(navService.pinSideNav$ | async) === false"
        mat-icon-button
        type="button"
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()">
        <mat-icon
          aria-label="Side nav toggle icon"
          [matBadge]="navService.notificationBadge$ | async"
          matBadgeColor="warn">
          menu
        </mat-icon>
      </button>

    </mat-toolbar>

    <!-- Main application area -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
