.cmd-info {
  text-align: center;
}

.cmd-action {
  text-align: center;
}

.cmd-complex {
  text-align: center;

  .cmd-name {
    margin-top: 10px;
  }

  .arg-value {
    min-width: 3em;
  }

  .arg-color span {
    vertical-align: top;
    line-height: 32px;
  }
}

input.simple-color-input {
  height: 32px;
  border: none;
  background-color: unset;
  padding: 0;
}
