@use '@angular/material' as mat;

@mixin component-theme($theme) {
  @include mat.slider-color($theme, $color-variant: tertiary);
  @include mat.slide-toggle-color($theme, $color-variant: tertiary);
}

@mixin component-theme-light($theme) {
  app-command {
    @include component-theme($theme);

    .cmd-complex {
      border-top: 1px solid mat.get-theme-color($theme, primary, 50);
      border-bottom: 1px solid mat.get-theme-color($theme, primary, 50);

      .cmd-name {
        color: mat.get-theme-color($theme, primary, 50);
      }

      .arg-value {
        color: mat.get-theme-color($theme, tertiary, 40);
      }
    }

    .minor-text {
      color: mat.get-theme-color($theme, primary, 50);
    }
  }
}

@mixin component-theme-dark($theme) {
  app-command {
    @include component-theme($theme);

    .cmd-complex {
      border-top: 1px solid mat.get-theme-color($theme, primary, 50);
      border-bottom: 1px solid mat.get-theme-color($theme, primary, 50);

      .cmd-name {
        color: mat.get-theme-color($theme, primary, 50);
      }

      .arg-value {
        color: mat.get-theme-color($theme, tertiary, 80);
      }
    }

    .minor-text {
      color: mat.get-theme-color($theme, primary, 50);
    }
  }
}
