@use '@angular/material' as mat;

@mixin command-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  //$warn: map-get($theme, warn);
  //$foreground: map-get($theme, foreground);
  //$background: map-get($theme, background);

  app-command {
    .cmd-complex {
      border-top: 1px solid mat.get-color-from-palette($primary, 300, 0.4);
      border-bottom: 1px solid mat.get-color-from-palette($primary, 300, 0.4);

      .cmd-name {
        color: mat.get-color-from-palette($primary, 300);
      }

      .arg-value {
        color: mat.get-color-from-palette($accent);
      }
    }

    .minor-text {
      color: mat.get-color-from-palette($primary, 300);
    }
  }
}
