<ng-container [ngSwitch]="command.type">
  <div *ngSwitchCase="'info'">
    <span>{{ command.name }}</span>
  </div>
  <div *ngSwitchCase="'action'">
    <button mat-raised-button color="primary" (click)="action.emit()">
      {{ command.name }}
    </button>
  </div>
  <div *ngSwitchCase="'complex'">
    <div>{{ command.name }}</div>
    <div *ngFor="let arg of command.args || []">
      <ng-container [ngSwitch]="arg.type">
        <div *ngSwitchCase="'string'">
          <span>{{ arg.name || '-' }}: </span>
          <span>{{ arg.stringValue || '-' }}</span>
        </div>
        <div *ngSwitchCase="'number'">
          <span>{{ arg.name || '-' }}: </span>
          <span>{{ arg.numberValue || 0 }}</span>
          <mat-slider
            [max]="arg.numberMax"
            [min]="arg.numberMin"
            [step]="arg.numberStep"
            [(ngModel)]="arg.numberValue"
            [thumbLabel]="true"
            (change)="numberChange(arg, $event)">
          </mat-slider>
        </div>
        <div *ngSwitchCase="'boolean'">
          <mat-checkbox [ngModel]="arg.booleanValue" (change)="booleanChange(arg, $event)">
            {{ arg.name || '-' }}
          </mat-checkbox>
        </div>
        <div *ngSwitchCase="'color'">
          <span>{{ arg.name || '-' }}: </span>
          <span>{{ arg.colorValue || '#000000' }}</span>
        </div>
        <div *ngSwitchCase="'select'">
          <span>{{ arg.name || '-' }}: </span>
          <span>{{ arg.selectValue || '-' }}</span>
        </div>
        <div *ngSwitchDefault>
          <pre>{{ arg | json }}</pre>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngSwitchDefault>
    <pre>{{ command | json }}</pre>
  </div>
</ng-container>
