@use '@angular/material' as mat;
@use 'm3-theme' as m3t;
@use 'theming';

@include mat.core();

@import '_fonts.scss';

html {
  @include mat.all-component-themes(m3t.$light-theme);

  &:not([dark-theme=true]) {
    @include theming.theme-overrides-light(m3t.$light-theme);
  }

  &[dark-theme=true] {
    @include mat.all-component-colors(m3t.$dark-theme);
    @include theming.theme-overrides-dark(m3t.$dark-theme);
  }

  .mat-drawer-content {
    display: flex;
    flex-direction: column;

    > router-outlet + * {
      flex-grow: 1;
    }
  }

  &[sidenav=pinned] {
    .mat-drawer-content > router-outlet + * {
      border-top-right-radius: 24px;
    }
  }

  --mat-expansion-container-text-size: 14px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hide-focus:focus {
  outline: 0 solid transparent;
}

.very-light-text {
  opacity: 0.2;
}
