<p style="margin: 0 0 24px">{{ 'home.welcome' | translate }}</p>

@if (visitedRooms().length > 0) {
  <h3>{{ 'home.visited-rooms.title' | translate }}</h3>
  @for (room of visitedRooms(); track room.token) {
    <div style="margin-bottom: 10px">
      <button mat-flat-button [class.color-warn]="deletion" (click)="visitedRoomClicked(room.token)">
        {{ room.roomName.length > 25 ? room.roomName.slice(0, 24) + '...' : room.roomName }}
      </button>
    </div>
  }
  <button mat-button color="primary" (click)="toggleDeletion()" [style.opacity]="deletion ? 1 : 0.4">
    @if (deletion) {
      {{ 'home.visited-rooms.delete-stop' | translate }}
    } @else {
      {{ 'home.visited-rooms.delete' | translate }}
    }
  </button>
}

<h3>{{ 'home.form.title' | translate }}</h3>
<form style="display: flex; justify-content: center; margin-top: 16px">
  <div style="width: 24px"></div>
  <mat-form-field style="width: 140px; margin: 0 12px">
    <mat-label>{{ 'home.form.label' | translate }}</mat-label>
    <input matInput
           type="text"
           autocomplete="off"
           maxlength="8"
           [formControl]="roomFormControl"
           [errorStateMatcher]="matcher"
           [placeholder]="'home.form.placeholder' | translate">
    @if (roomFormControl.errors?.roomNotFound) {
      <mat-error>{{ 'home.form.room-not-found' | translate }}</mat-error>
    }
  </mat-form-field>
  <div style="width: 24px">
    @if (roomCheckPending()) {
      <mat-spinner diameter="24" style="margin-top: 18px"></mat-spinner>
    }
  </div>
</form>
